<div data-tabs="1" id="izbg1z">
  <nav data-tab-container="1" class="tab-container">
    <a href="#tab1" data-tab="1" class="tab">Create Ontology</a>
    <a href="#tab2" data-tab="1" class="tab">Create Referent</a>
    <a href="#ia0k9t" data-tab="1" class="tab">Create Evaluation Type</a>
    <a href="#iwjo7q" data-tab="1" class="tab">Apply Evaluation</a>
    <a href="#i292te" data-tab="1" class="tab">Compute Trust</a>
  </nav>
  <div id="tab1" data-tab-content="1" class="tab-content">
    <div>Create an Ontology
      <br/>
    </div>
  </div>
  <div id="tab2" data-tab-content="1" class="tab-content">
    <div>Create a Referent
      <br/>
    </div>
  </div>
  <div data-tab-content="1" id="ia0k9t" class="tab-content">
    <div>Create an Evaluation Type
      <br/>
    </div>
  </div>
  <div data-tab-content="1" id="iwjo7q" class="tab-content">
    <div>Apply Evaluations
      <br/>
    </div>
  </div>
  <div data-tab-content="1" id="i292te" class="tab-content">
    <div>Compute Trust
      <br/>
    </div>
  </div>
</div>
<script>var items = document.querySelectorAll('#izbg1z');
  for (var i = 0, len = items.length; i < len; i++) {
    (function(){
      var t,e=this,a="[data-tab]",n=document.body,r=n.matchesSelector||n.webkitMatchesSelector||n.mozMatchesSelector||n.msMatchesSelector,o=function(){
        var a=e.querySelectorAll("[data-tab-content]")||[];
        for(t=0;t<a.length;t++)a[t].style.display="none"}
      ,i=function(n){
        var r=e.querySelectorAll(a)||[];
        for(t=0;t<r.length;t++){
          var i=r[t],s=i.className.replace("tab-active","").trim();
          i.className=s}
        o(),n.className+=" tab-active";
        var l=n.getAttribute("href"),c=e.querySelector(l);
        c&&(c.style.display="")}
      ,s=e.querySelector(".tab-active"+a);
      s=s||e.querySelector(a),s&&i(s),e.addEventListener("click",function(t){
        var e=t.target;
        r.call(e,a)&&i(e)}
                                                        )}
     .bind(items[i]))();
  }
</script>
<style>* {
  box-sizing: border-box;
  }
  body {
    margin: 0;
  }
  .tab{
    text-decoration-line:none;
    text-decoration-style:solid;
    text-decoration-color:currentcolor;
    color:inherit;
    padding-top:7px;
    padding-right:14px;
    padding-bottom:7px;
    padding-left:14px;
    transition-property:opacity;
    transition-duration:0.3s;
    transition-timing-function:ease;
    transition-delay:0s;
    display:inline-block;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
    border-bottom-right-radius:3px;
    border-bottom-left-radius:3px;
    margin-right:10px;
  }
  .tab.tab-active{
    background-color:rgb(13, 148, 230);
    color:white;
  }
  .tab-content{
    padding-top:6px;
    padding-right:12px;
    padding-bottom:6px;
    padding-left:12px;
    min-height:100px;
    animation-name:fadeEffect;
    animation-duration:1s;
    animation-timing-function:ease;
    animation-delay:0s;
    animation-iteration-count:1;
    animation-direction:normal;
    animation-fill-mode:none;
    animation-play-state:running;
  }
  @keyframes fadeEffect{
    0%{
      opacity:0;
    }
    100%{
      opacity:1;
    }
    0%{
      opacity:0;
    }
    100%{
      opacity:1;
    }
    0%{
      opacity:0;
    }
    100%{
      opacity:1;
    }
    0%{
      opacity:0;
    }
    100%{
      opacity:1;
    }
    0%{
      opacity:0;
    }
    100%{
      opacity:1;
    }
    0%{
      opacity:0;
    }
    100%{
      opacity:1;
    }
  }
</style>